@use "breakpoints";
@import "variables";

.form {
  margin: $spacing-m 0 $spacing-4-xl;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-m;

  @include breakpoints.respond-above(s) {
    grid-template-columns: repeat(4, 1fr);

    & > *:first-child,
    & > *:nth-child(2) {
      grid-column: span 2;
    }
  }

  @include breakpoints.respond-above(s) {
    .submitButton {
      grid-column: 4;
      align-self: flex-start;
    }
  }

  @include breakpoints.respond-above(s) {
    .searchAsFilters {
      grid-column: 1 / span 3;
    }
  }
}
