@use "breakpoints";
@import "variables";

.list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-xs;

  @include breakpoints.respond-above(m) {
    grid-gap: $spacing-layout-m;
  }

  .item {
    list-style-type: none;
  }

  .loadMoreAnnouncer {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

    // Pull next list item upwards to get rid of the extra gap caused
    // by injecting extra li that stores the focus
    & + li {
      margin-top: -$spacing-xs;

      @include breakpoints.respond-above(m) {
        margin-top: -$spacing-xl;
      }
    }
  }
}
.spinner {
  align-self: center;
  justify-self: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.showOnMap {
  width: 200px;
}

.resultCount {
  margin-left: auto;
  justify-self: end;
  font-size: 1.25rem;
}

.loadMore {
  width: 100%;

  @include breakpoints.respond-above(s) {
    width: 20rem; // 320px
  }
}
