@use "breakpoints";
@import "variables";

.footer {
  grid-column: 1 / -1 !important;

  // koros stuff
  margin-top: -14px;

  > div > svg {
    width: 100%;
  }

  // fix "back to top" button positioning being slightly off
  @include breakpoints.respond-above(s) {
    > div > div > div > button {
      top: -3px;
    }
  }

  // align utility links to right also now when there are no SoMe items
  @include breakpoints.respond-above(m) {
    > div > div:nth-child(2) {
      display: grid;
      justify-items: end;
      justify-content: unset;
    }
  }

  a,
  a:visited {
    // align links to be on the same level with external icon
    align-self: center;

    &,
    & svg {
      // Don't distinct between visited an unvisited links
      color: var(--link-color) !important;
    }
  }

  &.default {
    --footer-background: #{$color-engel-medium-light} !important;

    a,
    a:visited {
      --link-color: #{$color-black-90};
      --link-visited-color: #{$color-black-90};
    }
  }

  &.darkGrey {
    a,
    a:visited {
      --link-color: #{$color-white};
      --link-visited-color: #{$color-white};
    }
  }
}
