@use "breakpoints";
@import "variables";

.collectionBlock {
  display: flex;
  flex-direction: column-reverse;
  grid-column: 1 / -1;

  @include breakpoints.respond-above(m) {
    flex-direction: row;
    grid-column: 2;

    & > * {
      flex-basis: 50%;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    padding: $spacing-layout-xs;

    @include breakpoints.respond-above(m) {
      padding: $spacing-layout-m;
    }

    & > *:not(:last-child) {
      margin-bottom: $spacing-m;
    }

    &.coat-of-arms {
      background-color: $color-coat-of-arms;
    }
    &.gold {
      background-color: $color-gold;
    }
    &.silver {
      background-color: $color-silver;
    }
    &.brick {
      background-color: $color-brick;
    }
    &.bus {
      background-color: $color-bus;
    }
    &.copper {
      background-color: $color-copper;
    }
    &.engel {
      background-color: $color-engel;
    }
    &.fog {
      background-color: $color-fog;
    }
    &.metro {
      background-color: $color-metro;
    }
    &.summer {
      background-color: $color-summer;
    }
    &.suomenlinna {
      background-color: $color-suomenlinna;
    }
    &.tram {
      background-color: $color-tram;
    }

    &Some {
      margin-top: auto;
    }
  }

  &Image {
    position: relative;
  }
}
