@use "breakpoints";
@import "variables";

.Layout {
  --spacing: #{$spacing-layout-2-xs};
  --content-width: calc(var(--breakpoint-xl) - 2 * #{$spacing-layout-xs});

  display: grid;
  // Set a three column layout where the middle column is the content column
  // that has a max width of --content-width and two whitespace columns with a
  // mininum width of --spacing.
  grid-template-columns:
    minmax(var(--spacing), auto)
    minmax(auto, var(--content-width))
    minmax(var(--spacing), auto);
  grid-template-rows: auto;

  & > * {
    // Force child element into the content column
    grid-column: 2;
  }

  @include breakpoints.respond-above(m) {
    --spacing: #{$spacing-layout-xs};
  }
}
