@use "breakpoints";
@import "variables";

.Layout {
  // Custom non-HDS compliant max width for content. Breaks alignment with
  // for instance Navigation.
  --liikunta-width: 100rem; // 1600px
  --spacing: #{$spacing-layout-2-xs};
  --content-width: calc(var(--liikunta-width) - 2 * #{$spacing-layout-xs});

  display: grid;
  // Set a three column layout where the middle column is the content column
  // that has a max width of --content-width and two whitespace columns with a
  // mininum width of --spacing.
  grid-template-columns:
    minmax(var(--spacing), auto)
    minmax(auto, var(--content-width))
    minmax(var(--spacing), auto);
  grid-template-rows: auto;

  & > * {
    // Force child element into the content column
    grid-column: 2;
  }

  @include breakpoints.respond-above(m) {
    --spacing: #{$spacing-layout-xs};
  }

  @include breakpoints.respond-above(xl) {
    --spacing: #{$spacing-layout-l};
  }

  @include breakpoints.respond-above(xxl) {
    --spacing: #{$spacing-layout-xl};
  }

  .main {
    grid-column: 1 / -1;

    display: inherit;
    grid-template-columns: inherit;

    & > * {
      grid-column: 2;
    }
  }
}
