@import "variables";

.container {
  white-space: pre-wrap;
}

.button {
  display: flex;
  margin-top: $spacing-2-xs;
  padding: 0;

  font-family: inherit;
  font-weight: 500;
  color: $color-bus;

  background: none;
  border: none;
  cursor: pointer;
}
