@use "breakpoints";
@import "variables";

.keywords {
  @include breakpoints.respond-above(m) {
    padding: $spacing-m !important;
    padding-bottom: 0 !important;

    & li {
      transform: translateY(50%);
    }
  }
}

.pre {
  font-weight: 400 !important;

  @include breakpoints.respond-above(m) {
    // Add a slight margin to offset the keywords which overflow their container
    margin-top: 0.25rem;
  }
}

.content {
  padding-top: $spacing-s !important;

  @include breakpoints.respond-above(m) {
    padding: $spacing-m !important;
    padding-top: $spacing-m !important;
  }
}
