@use "breakpoints";
@import "variables";

.searchResultCard {
  @include breakpoints.respond-above(m) {
    --content-padding: #{$spacing-layout-m};
  }

  .button {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    object-fit: cover;
  }

  .content {
    @include breakpoints.respond-above(m) {
      padding-top: 0;
      padding-bottom: $spacing-m;
      grid-gap: $spacing-m;
    }
  }

  .keywords {
    grid-area: keywords;
    align-self: start;
    flex-wrap: wrap;

    @include breakpoints.respond-above(m) {
      padding-bottom: $spacing-m;
      padding-top: $spacing-m;
    }
  }

  .placeholderCard {
    position: relative;
    width: 100%;

    // Set a minimum height for the placeholder image with a pseudo element in
    // order to avoid altering the min-content height of the image container.
    @include breakpoints.respond-above(m) {
      &::after {
        content: " ";
        display: block;
        min-height: 18rem;
      }
    }
  }

  .infoBlocks {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @include breakpoints.respond-above(m) {
    --width-image: 31rem;

    grid-template-columns: minmax(auto, var(--width-image)) 1fr max-content;
    grid-template-rows: auto min-content;
    grid-template-areas:
      "bg keywords keywords"
      "bg text cta";
    margin-bottom: 0;
    justify-items: start;

    .button {
      display: initial;
    }
  }
}
