@use "breakpoints";
@import "variables";

.searchForm {
  display: flex;
  flex-direction: column;
  padding: $spacing-m $spacing-m $spacing-s;

  background-color: #464646;

  & > *:not(:last-child) {
    margin-bottom: $spacing-m;
  }

  @include breakpoints.respond-above(m) {
    padding: $spacing-layout-m $spacing-layout-m $spacing-layout-s;
  }

  @include breakpoints.respond-above(l) {
    display: grid;
    align-items: flex-end;
    column-gap: $spacing-l;
    row-gap: $spacing-xs;
    grid-template-columns:
      max-content 4fr
      minmax(max-content, 1fr);

    & > *:not(:last-child) {
      margin-bottom: unset;
    }
  }

  & * {
    --label-color-default: #{$color-white};

    color: $color-white;
  }

  & > a {
    grid-column: 2 / span 2;
    grid-row: 2;
    justify-self: flex-end;
    align-self: flex-end;
  }
}

.inputWithIcon {
  position: relative;

  & > div > input {
    padding-left: calc((2 * #{$spacing-s}) + 1.5rem) !important;
  }

  & > div > svg {
    position: absolute;
    left: $spacing-layout-2-xs;
    bottom: $spacing-layout-2-xs;

    & * {
      color: $color-black-90;
    }
  }
}

.title {
  @include breakpoints.respond-above(l) {
    // Force line height of button and input
    line-height: 3.5rem;
  }
}

.hdsTextInputOverrides {
  & > div > input {
    border: none !important;
  }
}

.searchForm .hdsButtonOverrides {
  --hds-button-override-color: #{$color-coat-of-arms};
  --hds-button-override-color-dark: #{$color-coat-of-arms-dark};

  --background-color: var(--hds-button-override-color);
  --background-color-hover: var(--hds-button-override-color-dark);
  --background-color-focus: var(--hds-button-override-color);
  --background-color-hover-focus: var(--hds-button-override-color-dark);
  --border-color: var(--hds-button-override-color);
  --border-color-hover: var(--hds-button-override-color-dark);
  --border-color-focus: var(--hds-button-override-color);
  --border-color-hover-focus: var(--hds-button-override-color-dark);
}
