@import "variables";

.errorPageTitle {
  display: flex;
  align-items: center;
}

.errorPageIcon {
  margin-left: $spacing-s;
}

.errorPageLink {
  display: inline-flex;
  align-items: center;

  margin: 0;
  padding: 0;

  font-size: $fontsize-body-l;

  & svg {
    margin-left: $spacing-xs;
  }
}
