@use "breakpoints";
@import "variables";

.section {
  --section-padding: #{$spacing-layout-m};
  --section-background: #{$color-black-5};

  grid-column: 1 / -1 !important;
  display: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  row-gap: $spacing-layout-m;
  padding: var(--section-padding) 0;

  background: var(--section-background);

  &.white {
    --section-background: #{$color-white};
  }

  &.transparent {
    --section-background: rgba(0, 0, 0, 0);
  }

  &.contained {
    --section-padding: 0;
  }

  &:last-child {
    // even out footer koros margin
    padding-bottom: $spacing-layout-m + 1rem;
  }

  & > * {
    grid-column: 2;
    margin-bottom: 0;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoints.respond-above(m) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    & > * {
      margin-bottom: 0;
    }

    & > a {
      display: flex;
      align-items: center;

      color: $color-black-90;
      font-weight: 600;
      text-decoration: none;
      font-size: $fontsize-body-l;
    }
  }
}
