@use "breakpoints";
@use "utils";
@import "variables";

.section {
  --section-padding: #{$spacing-layout-l};
  --section-background: #{$color-black-5};

  grid-column: 1 / -1 !important;
  display: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  row-gap: $spacing-layout-m;
  padding: var(--section-padding) 0;
  position: relative;

  background: var(--section-background);

  &.white {
    --section-background: #{$color-white};
  }

  &.transparent {
    --section-background: rgba(0, 0, 0, 0);
  }

  &.contained {
    --section-padding: 0;
  }

  &.hasKoros {
    margin-top: 85px; // height of Koros
  }

  &.s {
    @include utils.get-layout-columns(s);
  }

  &:last-child {
    // even out footer koros margin
    padding-bottom: $spacing-layout-m + 1rem;
  }

  & .koros {
    grid-column: 1 / -1;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    transform: translateY(50%);
    fill: var(--section-background);
  }

  & > * {
    grid-column: 2;
    margin-bottom: 0;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoints.respond-above(m) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    & > * {
      margin-bottom: 0;
    }
  }
}
