@use "breakpoints";
@import "variables";

.footer {
  --footer-background: #{$color-engel-medium-light} !important;
  grid-column: 1 / -1 !important;

  // koros stuff
  margin-top: -1rem;
  > div > svg {
    width: 100%;
  }

  // fix "back to top" button positioning being slightly off
  @include breakpoints.respond-above(s) {
    > div > div > div > button {
      top: -3px;
    }
  }

  // align utility links to right also now when there are no SoMe items
  @include breakpoints.respond-above(m) {
    > div > div:nth-child(3) {
      display: grid;
      justify-items: end;
      justify-content: unset;
    }
  }

  .hr {
    background-color: var(--footer-divider-color);
    border: 0;
    height: 1px;
    margin: 0 0 $spacing-xs;
    width: 100%;

    @include breakpoints.respond-above(m) {
      margin: 0 0 $spacing-m;
    }
  }

  .searchShortcuts {
    padding: 0 $spacing-m $spacing-m;

    // The footer uses a different content width as compared to the content of
    // the page. That's why we have to override the base width that's originally
    // set by the List component.
    & > ul {
      --base-list-item-width: 11rem; // 176px
    }
  }
}
