@use "breakpoints";
@import "variables";

.searchResultCard {
  @include breakpoints.respond-above(m) {
    --content-padding: #{$spacing-layout-m};
  }

  .button {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    object-fit: cover;
  }

  .content {
    width: 100%;

    @include breakpoints.respond-above(m) {
      padding-top: 0;
      padding-bottom: $spacing-m;
      grid-gap: $spacing-m;
    }
  }

  .keywords {
    grid-area: keywords;
    align-self: start;
    flex-wrap: wrap;

    @include breakpoints.respond-above(m) {
      padding-bottom: $spacing-m;
      padding-top: $spacing-m;
    }
  }

  .infoBlocks {
    list-style-type: none;
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: $spacing-s;

    @include breakpoints.respond-above(s) {
      grid-template-columns: 1fr 1fr;
      gap: $spacing-m;
    }
  }

  @include breakpoints.respond-above(m) {
    --width-image: 31rem;

    grid-template-columns: minmax(auto, var(--width-image)) 1fr max-content;
    grid-template-rows: auto min-content;
    grid-template-areas:
      "bg keywords keywords"
      "bg text cta";
    margin-bottom: 0;
    justify-items: start;

    .button {
      display: initial;
    }
  }
}
